<div class="container">
  <div class="contact-container">
    <h1>CONTACTAME</h1>
    <div class="whatsapp-button">
      <a href="https://wa.link/c8qdae" target="_blank">
        Chatea conmigo en WhatsApp
      </a>
      <i class="fa-brands fa-whatsapp"></i>
    </div>
    <div class="social-links">
      <div class="icon-container">
        <a href="https://www.linkedin.com/in/gabriel-paz-gapg/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <div class="icon-container">
        <a href="https://github.com/gabrielpaz2003" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <div class="icon-container">
        <a href="https://discord.gg/dyxFUHab" target="_blank">
          <i class="fa-brands fa-discord"></i>
        </a>
      </div>
    </div>
  </div>
</div>
