<div class="slider">
  <div class="slide-track">
      <div class="slide">
          <img src="../../../assets/img/angular.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/github.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/html.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/python.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/jasmine.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/java.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/react.png" alt="">
      </div>

      <div class="slide">
          <img src="../../../assets/img/angular.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/github.png" alt="">

      </div>
      <div class="slide">
          <img src="../../../assets/img/html.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/python.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/jasmine.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/java.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/img/react.png" alt="">
      </div>
  </div>
</div>

<section class="habilidades" id="habilidades">
  <div class="contenido-seccion">
      <h3>TECNOLOGIAS</h3>

      <div class="fila">
        <div class="col">
          <span>HTML/CSS/JAVASCRIPT</span>
          <i class="fa-brands fa-html5"></i>
          <i class="fa-brands fa-css3-alt"></i>
          <i class="fa-brands fa-js"></i>
          <div class="cont-barra" style="--expansion-width: 80%;">
            <div class="barra" id="html-css-js"></div>
            <span>85%</span>
          </div>
      </div>
          <div class="col">
              <span>ANGULAR</span>
              <i class="fa-brands fa-angular"></i>
              <div class="cont-barra" style="--expansion-width: 65%;">
                <div class="barra" id="angular"></div>
                <span>70%</span>
              </div>
          </div>
      </div>
      <div class="fila">
          <div class="col">
              <span>JAVA</span>
              <i class="fa-brands fa-java"></i>
              <div class="cont-barra" style="--expansion-width: 50%;">
                <div class="barra" id="java"></div>
                <span>55%</span>
              </div>
          </div>
          <div class="col">
              <span>GITHUB</span>
              <i class="fa-brands fa-github"></i>
              <div class="cont-barra" style="--expansion-width: 70%;">
                <div class="barra" id="github"></div>
                <span>75%</span>
              </div>
          </div>
      </div>
      <div class="fila">
          <div class="col">
              <span>PHYTON</span>
              <i class="fa-brands fa-python"></i>
              <div class="cont-barra" style="--expansion-width: 35%;">
                <div class="barra" id="phyton"></div>
                <span>40%</span>
              </div>
          </div>
          <div class="col">
              <span>JASMINE</span>
              <i class="fa-solid fa-flask-vial"></i>
              <div class="cont-barra" style="--expansion-width: 75%;">
                <div class="barra" id="jasmine"></div>
                <span>80%</span>
              </div>
          </div>
      </div>
  </div>
</section>
