.slider {
  background: white;
  width: 75vw;
  height: auto;
  top: 20px;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}

.habilidades {
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #fff;
}

.habilidades .contenido-seccion {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
  border: rgba(32, 97, 121, 0.677) 2px solid;
  border-radius: 20px;
}

.contenido-seccion{
  padding: 10px 40px 40px 40px !important;
}

.habilidades .contenido-seccion h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3.5rem;
  color: #60d4ea;
  margin-bottom: 20px;
}

.habilidades .fila {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.habilidades .col {
  width: 47%;
  text-align: left;
}

.habilidades .cont-barra {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.habilidades .cont-barra .barra {
  background: #363636;
  height: 30px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
  flex-grow: 1;
}

.habilidades .cont-barra .barra .e {
  background-color: #363636;
  width: 20px;
  height: 30px;
  margin-right: 2px;
}

.habilidades .cont-barra span {
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

span{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  margin-right: 5px;
}

.habilidades .cont-barra:hover::after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #60d4ea;
  transition: width 0.5s ease;
  width: var(--expansion-width, 100%); /* Default a 100% si no se especifica */
}


.habilidades .cont-barra[data-percent]:hover:after {
  width: attr(data-percent);
}
