<div class="navbar">
  <div class="logo">
    <a class="title">GABRIEL PAZ</a>
    <a class="subtitle" >Junior Developer</a>
  </div>
  <ul class="links">
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/">About me</a>
      <a routerLink="/">Projects</a>
      <a routerLink="/">Contact</a>
    </li>
  </ul>
  <div class="action_btn">
    <a > Download CV</a>
    <i class="fa-solid fa-file-arrow-down"></i>
  </div>
  <!--<div class="toggle-btn">
    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
  </div>
  -->
</div>

<!--<div class="dropdown_menu">
  <li>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/">About me</a>
    <a routerLink="/">Projects</a>
    <a routerLink="/">Contact</a>
    <a class="action_btn">Download CV</a>
  </li>
</div>-->

