li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.links a:hover{
  color: #60d4ea;
}

.navbar{
  margin-top: 15px !important;
  border: rgba(32, 97, 121, 0.677) 2px solid;
  width: 100%;
  height: 60px;
  max-width: 1200px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 2rem;
  display: flex;
  flex-direction: column; /* Organiza los hijos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente (opcional) */
}

@keyframes animate {
  0%{
    transform: hue-rotate(0deg);
  }
  100%{
    transform: hue-rotate(360deg);
  }
}

.navbar .logo .title {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar .logo .subtitle {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0; /* Ajusta según sea necesario para el espaciado entre título y subtítulo */
}



.links li{
  display: flex;
  gap: 2rem;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.navbar .toggle_btn{
  color: white;
  font-size: 1.5rem;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  display: none !important;
}

.action_btn i{
  margin-left: 0.5rem;

}

.action_btn{
  background-color: #60d4ea;
  margin-right: 2rem;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: white;
}

.action_btn:active{
  scale: 0.95;
}

/*DROPDOWN MENU */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*RESPONSIVE */

@media(max-width:992px) {
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
}


.cv-modal {
  display: block;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}


.cv-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px; /* Añade bordes redondeados */
  display: flex; /* Usa flexbox para centrar el contenido */
  flex-direction: column; /* Organiza los hijos en columna */
  align-items: center; /* Centra los hijos horizontalmente */
}

.close {
  align-self: flex-end; /* Alinea el botón de cerrar a la derecha */
  margin-right: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #60d4ea;
  text-decoration: none;
  cursor: pointer;
}

p{
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
}

.buttons {
  width: 100%; /* Asegura que los botones usen todo el ancho disponible */
  display: flex;
  justify-content: space-evenly; /* Distribuye los botones uniformemente */
}

.buttons .button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #60d4ea;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
  transition: scale 0.2s ease;
}

.buttons .button:hover {
  scale: 1.05;
  color: white;
}

