<div class="home-container">
  <div class="profile-photo">
      <img src="../../../assets/img/profile.jpg" alt="Gabriel Paz">
  </div>
  <div class="profile-info">
      <h1>GABRIEL PAZ</h1>
      <p class="subtitle">Desarrollador de Software Junior</p>
      <p class="intro">Bienvenido a mi portafolio personal. Aquí podrás encontrar algunos de mis proyectos más destacados y aprender más sobre mi trayectoria profesional.</p>
      <div class="buttons">
        <a routerLink="/projects" class="button">Ver mi trabajo</a>
    </div>
  </div>
</div>


