<section class="resumen" id="resumen">
  <div class="contenido-seccion">
      <h3>MI PREPARACION Y EXPERIENCIA</h3>
      <div class="info">
          <div class="col">
              <span class="titulo">Educación</span>
              <table>
                  <tr>
                      <td class="datos">
                          <h3>2022 - Actual</h3>
                      </td>
                      <td rowspan="2" class="descripcion">
                        Enfoque en desarrollo de software, estructuras de datos avanzadas, algoritmos, y seguridad informática. Participación activa en proyectos de desarrollo grupal e individual, utilizando tecnologías modernas como Java, Python, y frameworks de JavaScript.
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h4>Ingenieria en Ciencias de la Computación</h4>
                          <p>Universidad del Valle de Guatemala</p>
                          <span class="promedio">84 Promedio</span>
                      </td>
                  </tr>
              </table>
              <table>
                  <tr>
                      <td class="datos">
                          <h3>2016 - 2021</h3>
                      </td>
                      <td rowspan="2" class="descripcion">
                        Programa intensivo enfocado en fundamentos de programación, redes, y mantenimiento de sistemas. Proyecto final de grado destacado por creacion de aplicacion de escritorio para una tienda utilizando Java y MySQL.
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h4>Perito en Informática</h4>
                          <p>Centro educativo Kinal</p>
                          <span class="promedio">89 Promedio</span>
                      </td>
                  </tr>
              </table>
          </div>
          <div class="col">
              <span class="titulo">Experiencia Laboral</span>
              <table>
                  <tr>
                      <td class="datos">
                          <h3>1 Año</h3>
                      </td>
                      <td rowspan="2" class="descripcion">
                        Como parte del equipo de desarrollo front end en Byte, S.A., he estado trabajando directamente en proyectos para un destacado banco en Centroamérica. Mi rol implica la implementación de soluciones front end eficientes y seguras, utilizando la tecnología Angular.
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h4>Byte, S.A</h4>
                          <p>Programador Junior</p>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</section>
